.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    padding: 120px 0 0 0 ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 10px;
    gap: 20px;
}

.card-container {
    background-color: #FF99004D;
}
.card-container h4 {
color: #1C2B35;
font-family: Lato;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;}
@media screen and (max-width:1024px){
    .product-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
    }
}